@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
:root {
  --font-family: "Inter", sans-serif;
  --container-width: 1356px;
  --container-offset: 95px;
  --dark: #1d1d26;
  --grey-90: #33333b;
  --grey-60: #77777d;
  --grey-50: #8e8e92;
  --grey-10: #e3e3e4;
  --secondary: #f9f9f9;
  --green: #2EDE7F;
  --blue: #2E7FDE;
  --white: #ffffff;
  --giant: 48px;
  --2xl: 28px;
  --xl: 24px;
  --lg: 20px;
  --md: 18px;
  --sm: 16px;
  --xs: 14px;
}

.h-line {
  width: 100%;
  height: 1px;
  background-color: var(--grey-10);
}

.point {
  width: 12px;
  height: 12px;
  background-color: var(--grey-60);
  border-radius: 100px;
}

.sm-point {
  width: 4px;
  height: 4px;
  background-color: var(--grey-60);
  border-radius: 100px;
}

.exp-line {
  width: 1px;
  height: 250px;
  background-color: var(--grey-10);
  border-radius: 100px;
}

.block-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 66px;
  min-height: 66px;
  background-color: var(--secondary);
  border: 1px solid var(--grey-10);
  border-radius: 8px;
}

.block-title {
  padding: 50px 0 0 30px;
}
.block-title__title {
  font-size: var(--2xl);
  font-weight: 600;
  color: var(--dark);
  margin: 60px 0 18px 0;
}
.block-title__subtitle {
  font-size: var(--md);
  font-weight: 500;
  color: var(--grey-60);
  margin-bottom: 45px;
  line-height: 1.5;
  max-width: 550px;
}

.content {
  width: 100%;
  background-color: var(--white);
  border: 1px solid var(--grey-10);
  border-radius: 20px;
}

*,
*::after,
*::before {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  box-sizing: border-box;
  background-color: var(--secondary);
  font-family: var(--font-family);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.link-reset {
  text-decoration: none;
  transition: 0.3s opacity ease-in-out;
}
.link-reset:hover {
  cursor: pointer;
  opacity: 0.8;
}

.btn-reset {
  font-family: var(--font-family);
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  font-family: var(--font-family);
  font-size: 20px;
  outline: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.header {
  margin: 28px 0 0 0;
}
.header__content {
  max-width: 1356px;
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--white);
  border: 1px solid var(--grey-10);
  border-radius: 16px;
  padding: 0 10px;
  filter: drop-shadow(0px 8px 10px var(--grey-10));
}
.header__content__logo {
  width: 65px;
  height: 65px;
  border-radius: 16px;
}
.header__content__navbar {
  display: flex;
  gap: 38px;
  list-style: none;
  margin-left: 170px;
}
.header__content__navbar__item a {
  color: var(--grey-60);
  font-size: var(--lg);
  font-weight: 500;
  text-decoration: none;
}
.header__content__button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 17px 29px;
  border-radius: 16px;
  background-color: var(--dark);
  color: var(--white);
  text-decoration: none;
}
.header__content__button__text {
  font-size: var(--lg);
  font-weight: 500;
}

.main {
  padding-bottom: 165px;
}
.main__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main__content__decor {
  margin-top: 157px;
  min-width: 220px;
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  background-color: var(--white);
  border: 1px solid var(--grey-10);
  border-radius: 8px;
}
.main__content__decor__circle {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--green);
  animation: blink 3s infinite;
}
.main__content__decor__text {
  font-size: var(--sm);
  font-weight: 400;
}
.main__content__title {
  margin: 28px 0 14px 0;
  font-size: var(--giant);
  font-weight: 600;
}
.main__content__subtitle {
  margin: 0;
  font-size: var(--xl);
  font-weight: 500;
  color: var(--grey-60);
}
.main__content__btns {
  margin-top: 40px;
  display: flex;
  gap: 40px;
  font-size: var(--lg);
  font-weight: 500;
}
.main__content__btns__item {
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
}

.btn__email {
  color: var(--white);
  background-color: var(--dark);
  min-width: 200px;
  min-height: 58px;
}
.btn__download {
  color: var(--dark);
  background-color: var(--grey-10);
  min-width: 210px;
  min-height: 58px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.profile__content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
.profile__content__photo {
  flex: 1;
  max-height: 500px;
  border-radius: 20px;
}
.profile__content__block {
  flex: 3;
  max-height: 500px;
  background-color: var(--white);
  border: 1px solid var(--grey-10);
  border-radius: 20px;
}
.profile__content__block__inner {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: 41px 0 51px 32px;
}
.profile__content__block__inner__title {
  font-size: var(--2xl);
  font-weight: 600;
  color: var(--dark);
  margin: 60px 0 0 0;
}
.profile__content__block__inner__text {
  font-size: var(--md);
  font-weight: 500;
  color: var(--grey-60);
  line-height: 1.5;
  margin: 18px 0 0 0;
  max-width: 713px;
  max-height: 100px;
}
.profile__content__block__inner__location {
  margin-top: 106px;
  display: flex;
  align-items: center;
  gap: 6px;
}
.profile__content__block__inner__location__text {
  font-size: var(--lg);
  font-weight: 400;
  color: var(--grey-60);
}

.technologies {
  margin: 32px 0;
}
.technologies__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 247px;
}
.technologies__content__title {
  font-size: var(--lg);
  font-weight: 500;
  color: var(--grey-60);
  margin: 41px 0 31px 0;
}
.technologies__content__icons {
  margin: 65px 0 55px 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.experience {
  margin-bottom: 32px;
}
.experience__content__inner-second {
  padding: 49px 35px 0 31px;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.experience__content__inner-second:last-child {
  padding-bottom: 50px;
}
.experience__content__inner__main {
  display: flex;
}
.experience__content__inner__main__decor {
  display: inherit;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.experience__content__inner__main__exp {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.experience__content__inner__main__exp__title {
  font-size: var(--xl);
  font-weight: 600;
}
.experience__content__inner__main__exp__form {
  display: flex;
  align-items: center;
  font-size: var(--md);
  font-weight: 500;
  color: var(--grey-60);
  gap: 10px;
  margin: 6px 0 17px 0;
}
.experience__content__inner__main__exp__location {
  display: flex;
  align-items: center;
  gap: 6px;
}
.experience__content__inner__main__exp__location img {
  width: 18px;
  height: 18px;
}
.experience__content__inner__main__exp__location__name {
  font-size: var(--xs);
  font-weight: 500;
  color: var(--grey-60);
}
.experience__content__inner__main__exp__desc {
  margin-top: 45px;
  max-width: 602px;
  font-size: var(--md);
  font-weight: 500;
  line-height: 1.5;
  color: var(--grey-60);
}
.experience__content__inner__date {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border: 1px solid var(--grey-10);
  border-radius: 8px;
  padding: 10px 23px;
}
.experience__content__inner__date__term {
  font-size: var(--sm);
  font-weight: 400;
  color: var(--dark);
}

/*# sourceMappingURL=style.css.map */
