.header{
	margin: 28px 0 0 0;
	&__content{
		max-width: 1356px;
		min-height: 80px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		background-color: var(--white);
		border: 1px solid var(--grey-10);
		border-radius: 16px;
		padding: 0 10px;
		filter: drop-shadow(0px 8px 10px var(--grey-10));
		&__logo{
			width: 65px;
			height: 65px;
			border-radius: 16px;
		}
		&__navbar{
			display: flex;
			gap: 38px;
			list-style: none;
			margin-left: 170px;
			&__item{
				a{
					color: var(--grey-60);
					font-size: var(--lg);
					font-weight: 500;
					text-decoration: none;
				}
			}
		}
		&__button{
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 17px 29px;
			border-radius: 16px;
			background-color: var(--dark);
			color: var(--white);
			text-decoration: none;
			&__text{
				font-size: var(--lg);
				font-weight: 500;
			}
		}
	}
}